body{
    margin: 0;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    grid-gap: 20px;
    margin: 0 20px;
}

.home-image {
    width: 100%;
}

.home-title{
    display: grid;
    justify-items: center;
    color: white;
    background: gray;
}